.form {
  display: flex;
  width: 20em;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
}

.form-field {
  margin: 1em;
}

.form-field-error {
  margin-right: 1em;
  font-size: 0.8em;
  color: red;
}

label span {
  margin-right: 0.5em;
}

button {
  align-self: center;
  margin: 1em;
}